<div class="talk-details">
  <mat-card *ngIf="talk">
    <div class="rating-column">
      <span class="rating">{{ talk.rating | formatRating}}</span>
    </div>
    <div>
      <span class="title">{{talk.title}}</span>
      <span class="speaker">{{talk.speaker}}</span>
      <span class="description">{{talk.description}}</span>
      <div class="actions">
        <watch-button [watched]="watched" (watch)="handleWatch()"></watch-button>
        <rate-button [talk]="talk" (rate)="handleRating($event)"></rate-button>
      </div>
      <div class="message" *ngIf="!!talk.yourRating">
        <span>Your Rating : {{ talk.yourRating }}</span>
      </div>
    </div>

  </mat-card>

  <div class="all-talks">
    <a mat-raised-button [routerLink]="['/talks']">All Talks</a>
  </div>
</div>
